<script language="javascript">
function kiem_tra(){
   if($('#ho_ten').val()=='')
   {
	    alert('Vui lòng nhập họ tên')
		$('#ho_ten').focus()
		return false
   }
   
   if($('#email').val()=='')
   {
	    alert('Vui lòng nhập email')
		$('#email').focus()
		return false
   }
   
   if($('#tieu_de').val()=='')
   {
	    alert('Vui lòng nhập tiêu đề')
		$('#tieu_de').focus()
		return false
   }
   
   if($('#noi_dung').val()=='')
   {
	    alert('Vui lòng nhập nội dung')
		$('#noi_dung').focus()
		return false
   } 
}

function kt_email(e){
              
			//alert('aa');
			var  dinh_dang = $('#email').val()
			if(dinh_dang.indexOf("@")==-1)
			{	
					alert('Email không đúng định dạng');
					return false;
			}
 }
function lam_moi()
{
	document.getElementById('ho_ten').value='';
	document.getElementById('email').value='';
	document.getElementById('tieu_de').value='';
	document.getElementById('gui_den').value='';
	document.getElementById('noi_dung').value='';
	document.getElementById('ma_bao_ve').value='';
}								
</script>
%h1 New product
= render 'form'
= link_to 'Back', products_path,:class => 'btn btn-default'